PORT=8501
STREAMLIT_MAX_UPLOAD_SIZE_MB=1024
STREAMLIT_BROWSER_GATHER_USAGE_STATS=false
PDF_CONTROL_MAX_FILE_SIZE_MB=256
PDF_CONTROL_MAX_SESSION_SIZE_MB=512
PDF_CONTROL_MAX_PAGES=2000
PDF_CONTROL_MAX_RENDER_PAGES=250
